{% extends 'base.html' %}

{% block content %}

<h1>{{ total_students }}</h1>

<div class="container mt-5">

    <h2 class="text-center mb-4">Student Fees Management System</h2>

    <div class="row">

        <div class="col-md-4 mb-3">
            <a href="/students/" class="btn btn-primary w-100 p-4">
                👨‍🎓 Student List
            </a>
        </div>

        <div class="col-md-4 mb-3">
            <a href="/students/add/" class="btn btn-success w-100 p-4">
                ➕ Add Student
            </a>
        </div>

        <div class="col-md-4 mb-3">
            <a href="#" class="btn btn-warning w-100 p-4">
                💰 Fees Management
            </a>
        </div>

    </div>

</div>

{% endblock %}